agm-map {
  position: relative;
  width: 1440px;
  height: 900px;

  background: #FFFFFF;
}
.objects{
  position: absolute;
  width: 267px;
  height: 861px;
  left: 1138px;
  top: 20px;

  background: #FFFFFF;
  border-radius: 9px;
}
